{% extends "base.html" %}

{% block title %}{{current_user.username}}'s History{% endblock %}

{% block name %}<a href="/auth/profile">{{current_user.username}}</a>{% endblock %}

{% block content %}

{%for qrcode in qrcodes%}
<div class="row">
    <div class="h1 text-center">{{qrcode.link}}</div>
</div>
<div class="row">
    <div class="col-3">

    </div>
    <div class="col">
        <ul>
            <li>Back: {{qrcode.background_color}}</li>
            <li>Fill: {{qrcode.fill_color}}</li>
            <li>Size: {{qrcode.size}}</li>
            <li>File: {{qrcode.file}}</li>
        </ul>
        <form action="/download/{{qrcode.id}}" method="get">
            <button type="" class="btn btn-primary">Download qrcode</button>
        </form>
    </div>
    <div class="col">
        <img src="data:image/png;base64,{{qrcode.qr_base64}}" alt="">
    </div>
</div>
<hr>
{%endfor%}

{% endblock %}